@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  font-family: 'Poppins',sans-serif;
}

.header {
  width: 100vw;
  height: 55px;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: height 0.5s ease;
  z-index: 0;
}

/* .subnav-open .header {
  width: 100vw;
  height: 55px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: height 0.5s ease;
  z-index: 0;
} */

.navbar-header {
    width: 99%;
    height: 55px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 2px 3px;
    display:flex;
    justify-content: left;
    flex-direction: row;
    z-index: 2;
}

.navbar-header1 {
  width: 99%;
  height: 55px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2px 3px;
  display:flex;
  justify-content: left;
  flex-direction: row; 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transform: translate(0,-55px) ;
  transition: 0.5s ease;
  z-index: 0;
}

.subnav-open {
  transform: translate(0, 0px) ;
  transition: 0.5s ease;
  z-index: 1;
}

.navbar-header1 {
  width: 99%;
  height: 55px;
  position: absolute;
  top: 56px;
  left: 0px;
  padding: 2px 3px;
  display:flex;
  justify-content: left;
  flex-direction: row;
  transition: 0.5s ease;
  z-index: 1;
}

  .navbar-container {
    width: 95%;
    height: 55px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }
  
  .navbar-container1 {
    width: 99%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    position: relative;
    border-top: .1px solid rgb(231, 231, 231);
    border-bottom: .1px solid rgb(231, 231, 231);
  }
  
  .navbar-nav {
    width: 90%;
    height: auto;
    margin: 2px 2px;
    left: 110px;
    position: fixed;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
    text-align: center;
    white-space: nowrap;
    flex-wrap: inherit;
    list-style: none;
  } 

  .navbar-nav1 {
    width: 100%;
    height: 100%;
    margin: 2px 2px;
    margin-left: 50px;
    position: relative;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
    text-align: center;
    white-space: nowrap;
    flex-wrap: inherit;
    list-style: none
  } 
 
  .nav-link {
    position: relative;
    margin: 0px 6px;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    cursor: pointer;
    color: #494242;
    letter-spacing: 0.5px;
    padding: 0 10px;
    
  } 
  .nav-link1 {
    position: relative;
    margin: 0px 6px;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    cursor: pointer;
    color: #494242;
    letter-spacing: 0.5px;
    padding: 0 10px;
    
  } 
    
  .nav-link:hover {
    color: #a319df;
    font-weight: 600;
  }
  .nav-link:after{
    content: "";
    position: absolute;
    background-color: #6abd79;
    height: 4px;
    width: 0;
    left: 5%;
    bottom: -10px;
    transition: 0.3s;
  }
  .nav-link:hover:after{
    width: 90%;
  }

  .nav-link1:hover {
    color: #a319df;
    font-weight: 600;
  }
  .nav-link1:after{
    content: "";
    position: absolute;
    background-color: #6abd79;
    height: 4px;
    width: 0;
    left: 5%;
    bottom: -10px;
    transition: 0.3s;
  }
  .nav-link1:hover:after{
    width: 90%;
  }

  .bi {
    width: 32px;
    height: 32px;
    padding-right: 5px;
  }

  .bi-house-fill  {
    color: rgb(248, 9, 9);
  }
  .bi-info-square {
    color: rgb(8, 8, 248);
  }
  .bi-basket-fill {
    color: rgb(175, 175, 40);
  }
  .bi-cash-coin {
    color: rgb(206, 50, 206);
  }
  .bi-currency-rupee {
    color: rgb(0, 255, 34);
  }
  .bi-file-earmark-spreadsheet {
    color: rgb(255, 72, 0);
  }
  .bi-bag-check-fill {
    color: rgb(10, 250, 250);
  }
  .bi-journal-arrow-up {
    color: rgb(97, 85, 32);
  }
  .bi-file-person-fill {
    color: rgb(0, 110, 255);
  }
  .bi-envelope-at {
    color: rgb(65, 19, 42);
  }
  .bi-person-check {
    color: rgb(238, 116, 17);
  }
  .bi-person-x {
    color: rgb(21, 102, 61);
  }
   .bi-arrows-collapse {
    width: 44px;
    height: 60px;
    font-size: 15px;
    font-weight: 600;
    color: #8e44ad;
    border: 2px double gray;
    border-radius: 2px;
    padding: 3px 3px;
    margin-left: 15px;
  }

  .bi-arrows-collapse:hover {
    background: rgba(142, 68, 173, 0.3);
  }


  .navbar-brand {
    width: 85px;
    height: 48px;
    padding: 2px 2px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rgb(18, 56, 18);
    background-color: #fff;
    border-radius: 6px;
  }

  .navbar-brand:hover {
    background: rgba(142, 68, 173, 0.3);
  }

  .navbar-toggler {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    padding-top: 20px;
    padding-left: 15px;

    font-size: 1rem;
    border: 2px solid #808080;
    cursor: pointer;
    color: #808080;
  } 

  .navbar-toggler:hover {
    color: #8e44ad;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid #8e44ad;
  }

  

  /* media-query  */
   
  @media (min-width: 769px) {

    .navbar-nav, .navbar-nav1 {
      visibility: visible;
    }
    .navbar-toggler{
      visibility: hidden;
    }
    
  }
 
  @media (max-width: 768px) {

    .navbar-nav, .navbar-nav1 {
      visibility:hidden;
    }
    .navbar-toggler{
      visibility: visible;
    }
  }

 

/* ///------Code before Git */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  font-family: 'Poppins',sans-serif;
  background-color: #FBF0F6;
}

.navbar-header {
    width: 100%;
    height: 54px;
  }

  .navbar-container {
    width: 100%;
    height: 54px;
    border-radius: 5px;
    background-color: #effff2;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  }
 
  .nav {
    width: 82%;
    height: 52px;
    margin: 0px 2px;
    margin-left: 90px;
    position: absolute;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    text-align: center;
    
    
  }

  .nav-link {
    width: 96px;
    height: 52px;
 
    display:flex;
    justify-content: center;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2; 
    border-radius: 5px; 
    cursor: pointer;
    color: #8e44ad;
    background-color: #fff;
    transition: all 0.6s ease ;
    z-index: 1;
  }
    
  .nav-link:hover {
    background: rgba(142, 68, 173, 0.3);
    color: #8e44ad;
   
  }

  .nav-link.active {
    background-color: #8e44ad !important;
    color: #fff;
   
  }

  label {
    width: 96px;
    height: 52px;
    position: absolute;
    border-radius: 5px;
  }

  i {
    padding-right: 4px;
  }

   .slider {
    position: absolute;
    width: 96px;
    height: 52px;
    left: 0px;
    top: 0px ;
    background-color: #8e44ad;
    border-radius: 5px; 
    
    .navbar-brand {
      width: 88px;
      height: 48px;
      padding: 2px 2px;
      display: flex;
      align-items: center;
      font-size: 15px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      background-color: #effff2;
      border-radius: 5px;
    }
    
    .navbar-brand:hover {
      background: rgba(142, 68, 173, 0.3);
    }
    
    .navbar-toggler {
      width: 32px;
      height: 32px;
    margin-bottom: 8px;
    margin-right: 10px;
    color: #808080;
  } 

  .navbar-toggler:hover {
    color: #8e44ad;
    background-color: #fff;
    border: .2px solid #8e44ad;
  }
  
  .navbar-toggler::selection {
    color: #808080;
    border: .2px solid #808080;
  }
  
  
   */



/* ///------Old Code  */

/* .navbar-right {
    margin-left: 0px;
}

.navbar-header {
    border-bottom: 6px solid #6abd79;
    padding: 0;
    background-color: #fff;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
  }
  
  .nav-link {
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav-item {
    padding-right: 20px;
  } */