.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry-form-col {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.form-control-sm {
    width: 225px;
}

#datepicker {
    align-items: start;
}

.form-group row btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

input.ng-invalid.ng-touched, select.invalid-textbox {
    border: red 1px solid;
  }

  small.field-message-div {
    color: red;
  }

  

@media (max-width: 767px) {

    .field-label-div {
        display: flex;
        justify-content: flex-start;
    }

    .form-control-sm {
        width: 225px;
    }
    
}

@media (min-width: 768px) {

    .field-label-div {
        display: flex;
        justify-content: flex-end;
    }

    .form-control-sm {
        width: 225px;
    }
 
}
