<div class="container entry-form">
    <div class="row">
        <div class="col entry-form-col">
            <form #myForm="ngForm">
                <div class="form-group row title">
                    <div class="col-md-8 offset-md-4">
                        <h2 class="page-title">New Admission</h2>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-6 col-sm-4 col-md-4 field-label-div">
                        <label class="col-form-label">Institute</label>
                    </div>
                    <div class="col-xs-6 col-sm-8 col-md-8 field-value-div">
                        <label class="col-form-label">{{instituteName}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-6 col-sm-4 col-md-4 field-label-div">
                        <label class="col-form-label">Course</label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-8 field-value-div">
                        <select id="courseList" class="form-control form-control-sm" (change)="onChangeCourse($event)" #course="ngModel" [(ngModel)]="model.course" name="course"
                        [ngClass]="{'invalid-textbox' : course.touched && course.invalid }" required>
                            <option [value]="null" hidden>Select Course</option>
                            <option *ngFor="let course of courses" value={{course.courseId}}>
                                {{course.courseName}}
                            </option>            
                        </select>
                    </div>
                    <small class="col-sm-8 offset-sm-4 col-md-8 offset-md-4 field-message-div" *ngIf="course.invalid && course.touched">Select course from the list</small>
                </div>
                <div class="form-group row">
                    <div class="col-xs-6 col-sm-4 col-md-4 field-label-div">
                        <label class="col-form-label">Subjects Included</label>
                    </div>
                    <div class="col-xs-6 col-sm-8 col-md-8 field-value-div">
                        <label class="field-value">
                            <span *ngFor="let subject of selectedSubjects">{{subject.subjectName}}, </span>
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-6 col-sm-4 col-md-4 field-label-div">
                        <label class="col-form-label">Course Duration</label>
                    </div>
                    <div class="col-xs-6 col-sm-8 col-md-8 field-value-div">
                        <label class="field-value" *ngIf="selectedCourse?.courseDuration!== null">
                            {{selectedCourse?.courseDuration}} months
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-6 col-sm-4 col-md-4 field-label-div">
                        <label class="col-form-label">Course Fee</label>
                    </div>
                    <div class="col-xs-6 col-sm-8 col-md-8 field-value-div">
                        <label class="field-value" *ngIf="selectedCourse?.courseFee!==null">
                            Rs. {{selectedCourse?.courseFee}}/-
                        </label>
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom: 0.5rem;">
                    <div class="col-xs-6 col-sm-4 col-md-4 field-label-div">
                        <label class="col-form-label">Date of Admission</label>
                    </div>
                    <div class="col-xs-6 col-sm-8 col-md-8 field-value-div">
                        <input type="date" class="form-control form-control-sm" id="datepicker" name="dateOfAdmission" ngModel #dateOfAdmission="ngModel" required>
                    </div>
                    <small class="col-sm-8 offset-sm-4 col-md-8 offset-md-4 field-message-div" *ngIf="dateOfAdmission.invalid && dateOfAdmission.touched">Select date from Date Picker</small>
                </div>
                <div class="form-group row">
                    <div class="col-xs-6 col-sm-4 col-md-4 field-label-div">
                        <label class="col-form-label">Referral if any</label>
                    </div>
                    <div class="col-xs-6 col-sm-8 col-md-8 field-value-div">                    
                        <div class="form-check form-check-inline" >
                            <input class="form-check-input" type="radio" name="anyReferral" #anyReferral="ngModel" id="no" value="N" [checked]="true" (change)="onIsRefChange($event)" ngModel required>
                            <label class="form-label" for="no">
                            No
                            </label>
                        </div>
                        <div class="form-check form-check-inline" >
                            <input class="form-check-input" type="radio" name="anyReferral" #anyReferral="ngModel" id="yes" value="Y" (change)="onIsRefChange($event)" ngModel required>
                            <label class="form-label" for="yes">
                            Yes
                            </label>
                        </div>                    
                    </div>
                    <small class="col-sm-8 offset-sm-4 col-md-8 offset-md-4 field-message-div" *ngIf="anyReferral.invalid && !anyReferral.touched">Select required option</small>
                </div>
                <div class="form-group row" *ngIf="anyReferral">
                    <div class="col-sm-8 offset-sm-4 col-md-8 offset-md-4 field-value-div">                    
                        <select id="userList" class="form-control form-control-sm" (change)="onChangeReferral($event)">
                            <option [value]="null" hidden>No Referral</option>
                            <option *ngFor="let user of refUsers" value={{user.id}}>
                                {{user.firstName}} {{user.lastName}}
                            </option>            
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8  offset-sm-4 col-md-8 offset-md-4">
                        <button class="btn btn-success" (click)="onClickEnroll()" [disabled]="!myForm.valid">Enroll</button>
                    </div>
                </div>
            </form>
        </div>        
    </div>
</div>
