  body {
    line-height: 1;
    box-sizing: border-box;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-control-sm {
    width: 225px;
  }

  
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 60%;
    margin-top: 12px;
    border-radius: 2px;
  }

  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    padding: 3px;
    height: 30px;
   
  }

  table td {
    padding: 3px;
    display: flex;
    flex-direction: row;
    text-align: center;
    
  }

  .col-course-div {
    display: flex;
    flex-direction: column;
  }

  .col {
    display: flex;
    justify-content:end;
    flex-direction: column;
  }

  .row-course {
    display: flex;
    justify-content: left;
    flex-direction: row;
  }

  .row-table {
    display: flex;
    flex-direction: column;
  }

  .col-table {
    display: flex;
    flex-direction: row;
  }

  .btn {
    margin-left: 10px;
    margin-top: 0px;
  }

  .fa-solid {
    color: red;
  }

  .scrollit {
    overflow:scroll;
    height:120px;
  }

  input.ng-invalid.ng-touched, select.invalid-textbox, table.invalid-tablerow {
    border: red 1px solid;
  }

  small.field-message-div, .field-message-div1 {
    color: red;
    font-size: smaller;
  }

    @media (max-width: 767px) {

      .field-label-div {
          display: flex;
          justify-content: flex-start;
      }
      
    }

    @media (min-width: 768px) { 

      .field-label-div {
          display: flex;
          justify-content: flex-end;
      }

    }
