<section class="section-biodata">
    <div class="container biodata-container">
        <div class="row title">
            <div class="col-md-12 title">
                <h2 class="page-title">About Us </h2>
            </div>
        </div>
        <div class="row data ">
            <div class="col-md-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed eleifend nunc, et suscipit dui. Suspendisse potenti. Aliquam ornare accumsan lacinia. Nam mattis feugiat mauris, vitae placerat metus maximus in. Sed eu ante mauris. Fusce ex nunc, tempus sed nulla in, pellentesque iaculis eros. Cras et orci ac tellus dictum ultrices. Pellentesque egestas, lectus et vulputate interdum, ante purus vestibulum eros, eget interdum leo sapien efficitur tortor.
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>
            </div>
        </div>
    </div>
</section>