<div class="container entry-form">
  <div class="row">
    <div class="col entry-form-col">
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-success" (click)="onClickNewCourse()">
            Add
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="s-table">
            <thead>
              <th>Course Name</th>
              <th>Subjects Name</th>
              <th>Duration</th>
              <th>Fee</th>
              <th>options</th>
            </thead>
            <tbody>
              <tr *ngFor="let course of courseList" >
                <td>{{ course.courseName }}</td>
                <td><span *ngFor="let subject of course.subjects">{{subject.subjectName}}, </span></td>
                
                <td>{{ course.courseDuration }} months</td>
                <td>Rs. {{ course.courseFee }}</td>
                <td>
                  <i class="fa-solid fa-pen-nib"></i>
                  <i class="fa-solid fa-trash"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> 
