<div class="container entry-form">
    <div class="row" style="width: 100%;">
        <div class="col entry-form-col" >            
            <div class="row-table">
                <div class="col-table">
                  <table class="table">
                    <thead>
                      <th>Student</th>
                      <th>Date of Admission</th>
                      <th></th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let rd of royaltyDistributions; let i = index"  >
                        <td>{{rd.firstName}} {{rd.lastName}}</td>                        
                        <!-- <td>{{rd.dateOfAdmission | date: "dd MMM yyyy"}}</td> -->
                        <td>
                            <input type="checkbox" [checked]="rd.isSelected" (change)="rd.isSelected = !rd.isSelected"/>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
            <div class="row">
                <div class="col payout-button">
                    <button class="btn btn-success" type="button" (click)="payoutRoyalties()">Payout Royalties</button>
                </div>
            </div>
        </div>
    </div>
</div>