
	<section class="section-biodata">
		<div class="container biodata-container">
			<div class="row">
				<div class="col-md-12 title">
					<h2 class="page-title">Welcome</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 data">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed eleifend nunc, et suscipit dui. Suspendisse potenti. Aliquam ornare accumsan lacinia. Nam mattis feugiat mauris, vitae placerat metus maximus in. Sed eu ante mauris. Fusce ex nunc, tempus sed nulla in, pellentesque iaculis eros. Cras et orci ac tellus dictum ultrices. Pellentesque egestas, lectus et vulputate interdum, ante purus vestibulum eros, eget interdum leo sapien efficitur tortor.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="section-buttons">
		<div class="container button-container">
			<div class="row">
				<div class="col button-col">
					<div class="row btn-mob">
						<a routerLink="/" routerLinkActive="active" class="btn-button">Home</a>
					</div>
					<div class="row btn-mob">
						<a href="#" class="btn-button">About us</a>
					</div>
					<div class="row btn-mob">
						<a href="#" class="btn-button">Contact us</a>
					</div>
					<div class="row btn-mob">
						<a routerLink="/signin" routerLinkActive="active" class="btn-button" *ngIf="isUserLoggedIn==false">Sign In</a>
						<a routerLink="" (click)="signOut()" class="btn-button" *ngIf="isUserLoggedIn==true">Sign Out</a>
					</div>
				</div>
			</div>
		</div>
	</section>
    

	