    /* Biodata code starts*/

    /* .section-biodata {
      padding: 0px 20px;
    }

    .biodata-container{
      width: 100%;
      height: 100vh;
      margin: 5px 10px;
      padding: 0px 10px;
    } */

    /* Biodata code ends*/

    /* Buttons code starts*/

    .section-buttons {
      width: 100%;
      height: 100vh;
    }

    .button-col {
      width: 100%;
      height: 100vh;
      margin-top: 5px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .btn-mob {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }

    .btn-button {
      width: 290px;
      height: 70px;
      background: transparent;
      border: 2px solid #6abd79;
      border-radius: 6px;
      color: #6abd79;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 2px;
      cursor: pointer;
      padding: 22.5px 0px;
      display: flex;
      justify-content:space-between;
      position: relative;
      transition: 0.5s ease-in-out;
      z-index: +1;
    }
    
    .btn-button::before {
      content: '';
      position: absolute;
      inset: 0;
      background: #6abd79;
      z-index: -1;
      clip-path: circle(0% at 50% 50%);
      transition: 0.5s ease-in-out;
    
    }
    
    .btn-button:hover {
      color: #fff;
    }
    
    .btn-button:hover::before {
      clip-path: circle(100% at 50% 50%);
    }
    
    .btn-button:focus {
      outline: none; 
    }

    .button-icon {
      width: 70px;
      height: 70px;
      padding-left: 0px;
      margin-top: -25px;
      background-color: #deeee1;
      display: flex;
      justify-content:center;
      align-items: center;
      border: .1px solid #6abd79;
      border-radius: 6px;
      z-index: -1;
    }

    .button-text {
      width: 240px;
      padding-left: 10px;
      display: flex;
      justify-content:left;
      
    }

    .bi-house-fill,
    .bi-file-person-fill,
    .bi-info-square,
    .bi-basket-fill,
    .bi-cash-coin,
    .bi-currency-rupee,
    .bi-file-earmark-spreadsheet,
    .bi-bag-check-fill,
    .bi-journal-arrow-up,
    .bi-envelope-at,
    .bi-person-check,
    .bi-person-x {

      width: 24px;
      height: 24px;
      color: grey;
    }
     
    
@media (min-width: 769px) {

  .section-cards {
    display: unset;
    /* visibility: visible; */
  }
  .button-container {
    display: none;
    /* visibility: hidden; */
  }
  .section-buttons {
    display: none;
    width: 100%;
    height: 100vh;
  }
}
  

@media (max-width: 768px) {

  .section-cards {
    display: none;
    /* visibility: hidden; */
  }
  .button-container {
    display: unset;
    /* visibility: visible; */
  }
  .section-buttons {
    width: 100%;
    height: 160vh;
  }
}

/* Buttons code ends*/

/* Carousel code starts*/
/* 
.carousel-inner {
  width: 100%;
  height: 100vh;
}

.carousel-item {
  height: 100%;
  background: #000;
  color: #fff;
  position: relative;
  
}


.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;

} */

/* Carousel code ends*/

/* Cards code starts*/

  .section-cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(170,207,171,1) 0%, rgba(242,252,243,1) 50%, rgba(255,255,255,1) 100%);
    margin-top: 50px;
    padding-top: 60px;
  }

  .cards-container {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    /* background-color: #fff; */
  }

  .cards-container .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: #fff;
    margin: 70px 15px;
    padding: 20px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
  }

  .cards-container .card:hover {
    height: 420px;
  }

  .cards-container .card .imgBox {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 0px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
  } 

  .cards-container .card .imgBox img {
    max-width: 100%;
    border-radius: 4px;
  }

  .cards-container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  .cards-container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
  }

/* Cards code ends*/



/* Old button css code */

/* .btn-button2 {
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 400;
  background-color: #f39c12;
  border: none;
  width: 300px;
  height: 75px;
  padding: 20px;
  margin: 15px 15px;
  color: #fff;
  border-radius: 8px;
  text-align: center;
  transition: 0.4s all;
  text-decoration: none;
}

.nav-link {
  font-size: 1.5rem;
}

.btn-button2:hover {
  background-color: #fdcd7f;
  box-shadow: 0px 2px 10px 5px #a3c2a8;
  color: #000;
}

.btn-button2:focus {
  outline: none; 
}
 */
