.mobile-navbar-btn {
    /* display: none; */
    /* background: transparent; */
    display:inline;
    cursor: pointer;
  }
  
  .fa-bars {
    width: 4rem;
    height: 4rem;
    color: #212529;
  }

  .fa-xmark {
    width: 4rem;
    height: 4rem;
    color: #e0343c;
  }
  
  