.mobile-navbar-btn {
    /* display: none; */
    /* background: transparent; */
    display:inline;
    cursor: pointer;
  }
  
  .fa-bars {
    width: 4rem;
    height: 4rem;
    color: #212529;
  }

  .fa-xmark {
    width: 4rem;
    height: 4rem;
    color: #e0343c;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  
  .mob-btn {
    width: 250px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3;
    background-color: #236423;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    cursor: pointer;
    border: none;
  }

  
  